<div class="jumbotron text-center">

    <div ng-repeat="post in posts">

        123

    </div>

    <p class="lead">
        <img src="images/logo.png" alt="vanity banner logo" class="img-rounded">
    </p>

</div>























<div class="row">
    <div class="col-sm-6 col-md-6">
        <h2>Latest in-game Events</h2>

        <table class="table table-striped table-hover">
            <tbody ng-repeat="new in news.news">
            <tr>
                <td>{{new.type}}</td>
                <td>{{new.character}}</td>
                <td format-date="" date="new.timestamp"></td>
            </tr>

                    <div class="caption">
                        <h3>{{new.type}}</h3>

                        <p>{{member.character.spec.name}}</p>

                    </div>
            </tbody>
        </table>

</div>

<div class="row">
    <div class="col-sm-6 col-md-6">
        <h2>Vanity Originals</h2>
        <div ng-repeat="member in members.members">
            <div ng-show="member.rank == 2">
                <div class="thumbnail">
                    <img class="pull-right img-rounded" src="http://eu.battle.net/static-render/eu/{{member.character.thumbnail}}" alt="{{awesomeThing.title}}">

                    <div class="caption">
                        <h3>{{member.character.name}}</h3>

                        <p>{{member.character.spec.name}}</p>

                        <p><a ng-href="{{awesomeThing.url}}">{{awesomeThing.url}}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




