<h2>Members <small> of {{members.name}} @ {{members.realm}}</small></h2>

<div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="member in members.members">
        <div class="thumbnail">
            <img class="pull-right img-rounded" src="http://eu.battle.net/static-render/eu/{{member.character.thumbnail}}" alt="{{awesomeThing.title}}">

            <div class="caption">
                <h3>{{member.character.name}}</h3>

                <p>{{member.character.spec.name}}</p>

                <p><a ng-href="{{awesomeThing.url}}">{{awesomeThing.url}}</a></p>
            </div>
        </div>
    </div>
</div>